apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  namespace: resume
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: modinipadmasree/resume-builder-frontend:c74dedac
          imagePullPolicy: Always
          ports:
            - containerPort: 80
